

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}
.title{
    text-align: center;
}

main{
    padding: 40px 100px;

}

.card{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 15px;
    border-radius: 9px;

    
}

.lineinput{
    display: grid;
    margin-bottom: 15px;
}



button{
    border: 0;
    padding: 10px;
    outline: 0;
    background-color: #dd202a;
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 15px;
    
}
button:hover {
    background-color: #e42a34;
    
}
.content{
    margin-top: 10px;
}
table{
    
    width: 90%;
    text-align: center;
    margin-top: 20px;
}


table td img{
    width: 25px;
    cursor: pointer;
    padding: 2px;
}



